<div class="container" id="my-aim">
	<top-info></top-info>
	<main-info></main-info>
	<!-- 

		<div class="row main-info">
			<div class="col-md-3 left-info">
				<div class="row operation">
					<div class="col-md-12">
						<a href="#" class="selected">CREATE</a> | <a href="#">EDIT</a>
						
					</div>	
				</div>

				<div class="row menus">
					<div class="col-md-12">
						<ul class="nav nav-pills nav-stacked menu">
						  <li role="presentation" class="menu-name">ORGANIZATION MENU</li>
						  <li role="presentation" class="active menu-item"><a href="#">Organization Demographics</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Sales Information</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Payment Method</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Commission Payment Profile</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Advance/Chargeback</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Agreement Information</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Product Information</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Firm Relationship & Rate Group</a></li>
							<li role="presentation" class=" menu-item"><a href="#">Payment Relationship</a></li>
						</ul>
					</div>
			</div>
		</div>
 -->
<!-- 
			<div class="col-md-9 main-content">
				<div class="org-demo">
					<div class="row header-org-demo">
						<div class="col-md-11"><h1>Organization Demographics</h1></div>

						<div class="col-md-1 add">
							<div class="btn-div">
								<a href="#"><em>+</em></a>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<span>
								<label for="dis-ptn-type">Distribution Partner Type*</label>
								<select id="dis-ptn-type" name="dis-ptn-type">
									<option value="organization">Organization</option>
								</select>
							</span>
						</div>

						<div class="col-md-3">
							<span>
									<label for="org-type">Organization Type*</label>
									<select id="org-type" name="org-type">
										<option value="bga">BGA</option>
									</select>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<span class="span-org-name">
								<label for="org-name">Organization Name*</label>
								<input type="text" id="org-name" name="org-name" />
							</span>
						</div>

						<div class="col-md-6">
							<span class="span-str-name">
								<label for="str-name">Street Name</label>
								<input type="text" id="str-name" name="str-name" />
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2">
							<span class="span-tax-id-num">
								<label for="tax-id-num">Tax ID Number*</label>
								<input type="text" id="tax-id-num" name="tax-id-num" />
							</span>
						</div>

						<div class="col-md-4">
							<span class="span-npn">
									<label for="npn">National Producer Number (NPN)</label>
									<input type="text" id="npn" name="npn" />
							</span>
						</div>

						<div class="col-md-4">
							<span class="span-finra">
								<label for="finra">FINRA (CRD#)</label>
								<input type="text" id="finra" name="finra" />
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="hr-bar-thick"></div>
						</div>
					</div>

					<div class="address">
						<div class="row">
							<div class="col-md-10">
								<span>
									<label for="addr-type">Address Type*</label>
									<select id="addr-type" name="addr-type">
										<option value="organization"></option>
									</select>
								</span>
							</div>
							<div class="col-md-2 remove">
								<div class="btn-div">
									<a href="#"><em>X Remove</em></a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<span class="span-attention">
									<label for="attention">Attention</label>
									<input type="text" id="attention" name="attention" />
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<span class="span-biz-addr-line1">
									<label for="biz-addr-line1">Business Address: Line 1*</label>
									<input type="text" id="biz-addr-line1" name="biz-addr-line1" />
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<span class="span-biz-addr-line2">
									<label for="biz-addr-line2">Business Address: Line 2*</label>
									<input type="text" id="biz-addr-line2" name="biz-addr-line2" />
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<span class="span-city">
									<label for="city">City*</label>
									<input type="text" id="city" name="city" />
								</span>
							</div>

							<div class="col-md-1">
								<span class="span-state">
									<label for="state">State*</label>
									<input type="text" id="state" name="state" />
								</span>
							</div>

							<div class="col-md-2">
								<span class="span-country">
									<label for="country">Country</label>
									<input type="text" id="country" name="country" />
								</span>
							</div>

							<div class="col-md-2">
								<span class="span-zip1">
									<label for="zip1">ZIP Code*</label>
									<input type="text" id="zip1" name="zip1" class="zip"/>
									+
									<input type="text" id="zip2" name="zip2" class="zip"/>
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<label><input type="radio" name="preferred" id="preffered-addr"> Preferred</label>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<label for="biz-phone-part1">Business Phone*</label>
								<input id="biz-phone-part1" class="biz-phone-part1"/>
								<input id="biz-phone-part2" class="biz-phone-part2"/>
								<input id="biz-phone-part3" class="biz-phone-part3"/>
								-
								<input placeholder="Ext"  id="biz-phone-ext" class="biz-phone-ext"/>
							</div>

							<div class="col-md-3">
								<label for="biz-fax-part1">Business Fax</label>
								<input id="biz-fax-part1" class="biz-fax-part1"/>
								<input id="biz-fax-part2" class="biz-fax-part2"/>
								<input id="biz-fax-part3" class="biz-fax-part3"/>
							</div>

							<div class="col-md-5">
								<label for="biz-email">Business Email*</label>
								<input type="email" id="biz-email" class="biz-email"/>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<label><input type="radio" name="preferred" id="preffered-biz-phone"> Preferred</label>
							</div>
							<div class="col-md-3">
								<label><input type="radio" name="preferred" id="preffered-biz-fax"> Preferred</label>
							</div>
							<div class="col-md-3">
								<label><input type="radio" name="preferred" id="preffered-biz-email"> Preferred</label>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="hr-bar-light"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="btn-div">
								<a href="#"><em>+ Add Address</em></a>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="hr-bar-thick"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8"></div>
						<div class="col-md-2">
							<a href="#" class="btn btn-primary btn-xs col-lg-12 btn-save">SAVE</a>
						</div>
						<div class="col-md-2">
							<a href="#" class="btn btn-primary btn-xs col-lg-12 btn-save-continue">SAVE & CONTINUE ></a>
						</div>
					</div>
				</div>
			</div>
		</div> 
		-->
</div>